<div class="modal-content   card card-stats">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon">
      <i class="material-icons">add_to_photos
      </i>
    </div>
    <h3 class="card-title"><b>Account Setting</b></h3>
  </div>
  <div class="modal-body">
    <!-- <form (ngSubmit)="onSubmit()" #managerForm="ngForm">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name"> Name:</label>
            <br>
            <input type="text" required class="form-control" id="name" name="name" [(ngModel)]="managerDetails.name" #name="ngModel">            </div>
          <h5 [hidden]="name.valid || name.untouched" style="color: red">
            Name is required
          </h5>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">

          <label>Profile Picture
          </label>
          <input type="file" (change)="onSelectFile($event)" name="pic" id="pic" class="form-control ">



        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="form-group ">
            <label>Email Id
            </label>
            <input type="email" required [(ngModel)]="managerDetails.email" name="email" id="email" class="form-control " #email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">

            <h5 [hidden]="email.valid || email.untouched" style="color: red">
              Email Id is required
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="userName">User Name:</label>
            <br>
            <input type="text" required minlength="4" maxlength="20" class="form-control" id="userName" name="userName" [(ngModel)]="managerDetails.username"
              #userName="ngModel"> </div>
          <h5 [hidden]="userName.valid || userName.untouched" style="color: red">
            User Name is required at
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Password:</label>
            <br>
            <input type="password" required class="form-control" id="password" name="password" [(ngModel)]="managerDetails.password"
              #password="ngModel"> </div>
          <h5 [hidden]="password.valid || password.untouched" style="color: red">
            password is required with minimum length 6
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="contactNo">Contact No:</label>
            <br>
            <input type="number" required minlength="10" maxlength="13" class="form-control" id="contactNo" name="contactNo" [(ngModel)]="managerDetails.contactNo"
              #contactNo="ngModel">
            <h5 [hidden]="contactNo.valid || contactNo.untouched" style="color: red">
              Contect No. is required
            </h5>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </form> -->
    <div class="row">
      <div class="col-md-8">
          <h5 *ngIf="!(name==='null')"><b>Name :   </b> 
            {{name}}  &nbsp;  <i class=" tiny material-icons" data-toggle="modal" data-target="#assignModal" >create</i>
          </h5>
          <h5 *ngIf="!(userName==='null')"><b>User Name :   </b> 
            {{userName}} 
          </h5>
          <h5 *ngIf="!(userType==='null')"><b>User Type :   </b> 
            {{userType}} 
          </h5>
          <h5 *ngIf="!(email==='null')"><b>Email Id:   </b>  
            {{email}}  &nbsp;  <i class=" tiny material-icons" data-toggle="modal" data-target="#assignModal" >create</i></h5>
          <h5 *ngIf="!(contact_No==='null')"><b>Phone No:  </b>  
            {{contact_No}}  &nbsp;  <i class=" tiny material-icons" data-toggle="modal" data-target="#assignModal" >create</i></h5>
      </div>
      <div *ngIf="!(pic==='null')" class="col-md-4">
          <h5><b>Profile Picture:</b>
            <br>
            <img style="width: 150px; height: 150px;" src="{{pic}} " alt="">
            <br>  
          </h5>
          <button  type="button"  class="btn btn-rose  btn-md">  <i class=" tiny material-icons"  >create</i> Edit Picture</button>

      </div>

    </div>


    
<button  type="button"  class="btn btn-rose  btn-lg"> Change Password</button>
  


</div>

</div>