<div class="modal-content   card card-stats">
  <div class="card-header card-header-rose card-header-icon">
    <div class="card-icon">
      <i class="material-icons">add_to_photos
      </i>
    </div>
    <h3 class="card-title"><b>Account Setting</b></h3>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-8">
        <div>
        <span><b>Name : </b></span>
        <span *ngIf="!(name==='null')" id="filed">
          &nbsp; &nbsp;{{editManagerDetails.name}} &nbsp; &nbsp; &nbsp; <i class=" tiny material-icons editAccount" (click)="toEdit('Name')"
            data-toggle="modal" data-target="#editFormModel">create</i>
        </span>
        <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;" >
            <div class="row" *ngIf="toBeEdit==='Name'">
               
                  
               
                   <span>
                   <input type="text" required class="form-control padding-left" id="name" name="name" [ngModel]="toBeEditValue" #name="ngModel"> <br/>
                              
                
                  <div [hidden]="name.valid || name.untouched" style="color: red">
                    Name is required
                  </div>
                
                 </span>
                <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                    clear
                    </i></button>
                    <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)" [disabled]="!editForm.valid" class="btn btn-rose"><i class="material-icons">
                        done
                        </i></button> 
                     <br />
                     
                </div>
                
                    
              </form>
              
              
        
        </div>
        

        <div *ngIf="!(userName==='null')"><b>User Name : </b>
          &nbsp; &nbsp;{{editManagerDetails.userName}}
        </div>
        
        <div *ngIf="!(userType==='null')"><b>User Type : </b>
          &nbsp; &nbsp;{{editManagerDetails.userType}}
        </div>

        <div *ngIf="!(email==='null')" id="filedd">
          <b>Email Id: </b>
          &nbsp; &nbsp;{{editManagerDetails.email}} &nbsp; &nbsp; &nbsp;
          <i class=" tiny material-icons" (click)="toEdit('Email')" data-toggle="modal" data-target="#editFormModel">create</i>
        </div>
        <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;">
        <div class="row" *ngIf="toBeEdit==='Email'">
            <span>
              <div class="form-group ">
                <label>Email Id
                </label>
                <input type="email" required [ngModel]="toBeEditValue" name="email" id="email" class="form-control " #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">

                <h5 [hidden]="email.valid || email.untouched" style="color: red">
                  Email Id is required
                </h5>
              </div>
            </span>
            <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                clear
                </i></button>
                <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)" [disabled]="!editForm.valid" class="btn btn-rose"><i class="material-icons">
                    done
                    </i></button>
          </div>
          </form>
        <div *ngIf="!(contactNo==='null')" id="filedd"><b>Phone No: </b>
          &nbsp; &nbsp;{{editManagerDetails.contactNo}} &nbsp; &nbsp; &nbsp; <i class=" tiny material-icons" (click)="toEdit('Contact No')"
            data-toggle="modal" data-target="#editFormModel">create</i></div>
            <form #editForm="ngForm" *ngIf="showForm">
            <div class="row" *ngIf="toBeEdit==='Contact No'">
                <span>
                  <div class="form-group">
                    <label for="contactNo">Contact No:</label>
                    <br>
                    <input type="number" required pattern=".{10,10}" class="form-control" id="contactNo" name="contactNo" [(ngModel)]="toBeEditValue"
                      #contactNo="ngModel">
                    <h5 [hidden]="contactNo.valid || contactNo.untouched" style="color: red">
                      Contect No. is required
                    </h5>
                  </div>
                </span>
                <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                    clear
                    </i></button>
                    <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)" [disabled]="!editForm.valid" class="btn btn-rose"><i class="material-icons">
                        done
                        </i></button>
              </div>
              </form>
    
      </div>
      <div *ngIf="!(pic==='null')" class="col-md-4">
        <h5><b>Profile Picture:</b>
          <br>
          <img style="width: 150px; height: 150px;" *ngIf="editManagerDetails.pic"src="{{editManagerDetails.pic}} " alt="">
          <img style="width: 150px; height: 150px;" *ngIf="!editManagerDetails.pic" src="assets/img/avatar.png/"/>
          <br>
        </h5>
        <button type="button" (click)="toEdit('Profile Picture')" data-toggle="modal" data-target="#editFormModel" class="btn btn-rose  btn-md">
          <i class=" tiny material-icons">create</i> Edit Picture</button>

      </div>

    </div>



    <button type="button" data-toggle="modal" data-target="#changePasswordModal" class="btn btn-rose  btn-lg"> Change Password</button>



  </div>

</div>


<!-- edit form model starting -->
<!-- <div class="modal fade" data-keyboard="false" data-backdrop="static" id="editFormModel" tabindex="-1" role="dialog" aria-labelledby="editFormModel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">add_to_photos</i>
        </div>
        <h3 class="card-title">Enter Your New {{toBeEdit}}</h3>
      </div>
      <div class="modal-body">

        <form #editForm="ngForm" *ngIf="showForm">


          <div class="row" *ngIf="toBeEdit==='Name'">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name"> Name:</label>
                <br>
                <input type="text" required class="form-control" id="name" name="name" [ngModel]="toBeEditValue" #name="ngModel">                </div>
              <h5 [hidden]="name.valid || name.untouched" style="color: red">
                Name is required
              </h5>
            </div>
          </div>


          <div class="row" *ngIf="toBeEdit==='Email'">
            <div class="col-md-12">
              <div class="form-group ">
                <label>Email Id
                </label>
                <input type="email" required [ngModel]="toBeEditValue" name="email" id="email" class="form-control " #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">

                <h5 [hidden]="email.valid || email.untouched" style="color: red">
                  Email Id is required
                </h5>
              </div>
            </div>
          </div>



          <div class="row" *ngIf="toBeEdit==='Contact No'">
            <div class="col-md-12">
              <div class="form-group">
                <label for="contactNo">Contact No:</label>
                <br>
                <input type="number" required pattern=".{10,10}" class="form-control" id="contactNo" name="contactNo" [(ngModel)]="toBeEditValue"
                  #contactNo="ngModel">
                <h5 [hidden]="contactNo.valid || contactNo.untouched" style="color: red">
                  Contect No. is required
                </h5>
              </div>
            </div>
          </div>



          <div class="row" *ngIf="toBeEdit==='Profile Picture'">
            <div class="col-md-6">
              <input type="file" required (change)="onSelectFile($event)" name="pic" placeholder="pic">
            </div>



            <div *ngIf="urlTOShowImg" class="col-md-6">
              <img [src]="urlTOShowImg" style="height: 150px;">
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="resetForm()">Close</button>
            <button *ngIf="!(formButtonHide || toBeEdit !=='Profile Picture')" type="submit" (click)="changePicture()" [disabled]="!urlTOShowImg" class="btn btn-rose">Change picture</button>
            <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)" [disabled]="!editForm.valid" class="btn btn-rose">Save Changes</button>
            <button *ngIf="formButtonHide" type="button" class="btn btn-default"> <i class="fa fa-spinner fa-spin mainColor"></i>submitting</button>

          </div>






        </form>




      </div>
    </div>
  </div>
</div> -->
<!-- edit form model ending -->


<!-- change password model start here -->

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">close</i>
        </div>
        <h3 class="card-title">Change Password</h3>
      </div>
      <div class="modal-body">

        <form #changePasswordForm="ngForm">
          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                <label for="comment">Enter your Old Password</label>
                <br>
                <input type="password" required class="form-control" id="oldPassword" name="oldPassword" [(ngModel)]="changePassword.oldPassword"
                  #oldPassword="ngModel"> </div>
              <h5 [hidden]="oldPassword.valid || oldPassword.untouched" style="color: red">
                Password minimum length 6
              </h5>

              <div class="form-group">
                <label for="comment">Enter your New Password</label>
                <br>
                <input type="password" required class="form-control" id="newPassword" name="newPassword" [(ngModel)]="changePassword.newPassword"
                  #newPassword="ngModel"> </div>
              <h5 [hidden]="newPassword.valid || newPassword.untouched" style="color: red">
                New Password minimum length 6
              </h5>
            </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button *ngIf="!passwordFormShow" type="submit" (click)="PasswordForm()" [disabled]="!changePasswordForm.valid" class="btn btn-danger">Change
              Password</button>
            <button *ngIf="passwordFormShow" type="button" class="btn btn-default"> <i class="fa fa-spinner fa-spin"></i>submitting</button>

          </div>






        </form>




      </div>
    </div>
  </div>
</div>

<!-- change password model end here -->