<div class="modal-content   card card-stats">
  <div class="card-header card-header-rose card-header-icon">
    <div class="card-icon">
      <i class="material-icons">add_to_photos
      </i>
    </div>
    <h3 class="card-title"><b>Account Setting</b></h3>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-6">
        <div>
          <span><b>Name : </b></span>
          <span *ngIf="!(toBeEdit === 'Name')">
            &nbsp; &nbsp;{{editManagerDetails.name}} &nbsp; &nbsp; &nbsp; <i class=" tiny material-icons editAccount"
              (click)="toEdit('Name')">create</i>
          </span>
          <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;">
            <div class="row" *ngIf="toBeEdit==='Name'">



              <span>
                <input type="text" required class="form-control padding-left" id="name" name="name" [ngModel]="toBeEditValue"
                  #name="ngModel"> <br />


                <div [hidden]="name.valid || name.untouched" style="color: red">
                  Name is required
                </div>

              </span>
              <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                  clear
                </i></button>
              <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)"
                [disabled]="!editForm.valid" class="btn btn-rose"><i class="material-icons">
                  done
                </i></button>
              <br />
            </div>
          </form>
        </div>


        <div *ngIf="(editManagerDetails.userName)"><b>User Name : </b>
          &nbsp; &nbsp;{{editManagerDetails.userName}}
        </div>

        <div *ngIf="(editManagerDetails.userType)"><b>User Type : </b>
          &nbsp; &nbsp;{{editManagerDetails.userType}}
        </div>
        <!-- <email edit> -->
        <div>
          <span><b>Email : </b></span>
          <span *ngIf="!(toBeEdit === 'Email')">

            &nbsp; &nbsp;{{editManagerDetails.email}} &nbsp; &nbsp; &nbsp;
            <i class=" tiny material-icons" (click)="toEdit('Email')">create</i>
          </span>
          <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;">
            <div class="row" *ngIf="toBeEdit==='Email'">
              <span>
                <input type="email" required [ngModel]="toBeEditValue" name="email" id="email" class="form-control padding-left "
                  #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                <div [hidden]="email.valid || email.untouched" style="color: red">
                  Email Id is required
                </div>
              </span>
              <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                  clear
                </i></button>
              <button *ngIf="!(formButtonHide || toBeEdit=='Profile Picture')" type="submit" (click)="editValue(editForm.value)"
                [disabled]="!editForm.valid" class="btn btn-rose"><i class="material-icons">
                  done
                </i></button>
            </div>
          </form>
        </div>
        <!-- <Phone edit>  -->
        <div>
          <span><b>Phone No : </b></span>
          <span *ngIf="!(toBeEdit === 'Contact No')">
            &nbsp; &nbsp;{{editManagerDetails.contactNo}} &nbsp; &nbsp; &nbsp; <i class=" tiny material-icons" (click)="toEdit('Contact No')">create</i></span>
          <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;">
            <div class="row" *ngIf="toBeEdit==='Contact No'">
              <span>
                <input type="number" required pattern=".{10,10}" class="form-control padding-left" id="contactNo" name="contactNo"
                  [(ngModel)]="toBeEditValue" #contactNo="ngModel">
                <div [hidden]="contactNo.valid || contactNo.untouched" style="color: red">
                  Contect No. is required
                </div>
              </span>
              <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                  clear
                </i></button>
              <button *ngIf="!(formButtonHide)" type="submit" (click)="editValue(editForm.value)" [disabled]="!editForm.valid"
                class="btn btn-rose"><i class="material-icons">
                  done
                </i></button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <span><b>Profile Picture:</b> 
                      </span>
            <br>

            <img 
            class="userImage" [src]=" editManagerDetails.pic!=='null'? editManagerDetails.pic:'assets/img/avatar.png'" />
          </div>
          
        
          <div *ngIf="urlTOShowImg" class="col-md-6">
            <span><b> Selected Profile Picture:</b></span>
            <br>

            <img [src]="urlTOShowImg" class="userImage">
          </div>
<br>
</div>
            <span style="margin-left: 100px" *ngIf="!(toBeEdit === 'Profile Picture')" >
              <i style="margin-top: -7px" class=" tiny material-icons" (click)="toEdit('Profile Picture')">create</i></span>

        <form #editForm="ngForm" *ngIf="showForm" style="display: inline-block;">
          <div class="row" *ngIf="toBeEdit==='Profile Picture'">
            <span>
              <input type="file" required (change)="onSelectFile($event)" name="pic" placeholder="pic">
            </span>


            <button type="button" class="btn btn-secondary" (click)="resetForm()"><i class="material-icons">
                clear
              </i></button>
            <button *ngIf="!(formButtonHide)" type="submit" (click)="changePicture()" [disabled]="!editForm.valid"
              class="btn btn-rose"><i class="material-icons">
                done
              </i></button>

            <button *ngIf="formButtonHide" type="button" class="btn btn-default"> <i class="fa fa-spinner fa-spin mainColor"></i>submitting</button>

          </div>
        </form>







        


      </div>
      <button type="button" data-toggle="modal" data-target="#changePasswordModal" class="btn btn-rose  btn-lg"> Change
        Password
      </button>
    </div>





    <!-- change password model start here  img-->

    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content card ">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">close</i>
            </div>
            <h3 class="card-title">Change Password</h3>
          </div>
          <div class="modal-body">

            <form #changePasswordForm="ngForm">
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <label for="comment">Enter your Old Password</label>
                    <br>
                    <input type="password" required class="form-control" id="oldPassword" name="oldPassword"
                      [(ngModel)]="changePassword.oldPassword" #oldPassword="ngModel"> </div>
                  <h5 [hidden]="oldPassword.valid || oldPassword.untouched" style="color: red">
                    Password minimum length 6
                  </h5>

                  <div class="form-group">
                    <label for="comment">Enter your New Password</label>
                    <br>
                    <input type="password" required class="form-control" id="newPassword" name="newPassword"
                      [(ngModel)]="changePassword.newPassword" #newPassword="ngModel"> </div>
                  <h5 [hidden]="newPassword.valid || newPassword.untouched" style="color: red">
                    New Password minimum length 6
                  </h5>
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!passwordFormShow" type="submit" (click)="PasswordForm()" [disabled]="!changePasswordForm.valid"
                  class="btn btn-danger">Change
                  Password</button>
                <button *ngIf="passwordFormShow" type="button" class="btn btn-default"> <i class="fa fa-spinner fa-spin"></i>submitting</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- change password model end here -->