<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.nxtlifetechnologies.com">
                        NxtLife Technologies
                    </a>
                </li>
                <li>
                    <a href="#">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2018, developed by
            <a href="https://www.nxtlifetechnologies.com" target="_blank">NxtLife Technologies</a> for a better
            experience.
        </div>
    </div>
</footer>