            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
              <div class="container-fluid">
                  <div class="navbar-wrapper">
                      <a class="navbar-brand" href="#">
                          <span *ngIf="role=='superadmin'">
                            Super Admin Panel
                        </span>
                        <span *ngIf="role=='management'">
                                Manager Panel
                            </span>
                      </a>
                  </div>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                      <span class="navbar-toggler-icon icon-bar"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navigation">
                      
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link" >
                                  <i class="material-icons">dashboard</i>
                                  <p>
                                      <span class="d-lg-none d-md-block">Stats</span>
                                  </p>
                              </a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">notifications</i>
                                  <span class="notification"> {{totalCount}} </span>
                                  <p>
                                      <span class="d-lg-none d-md-block">Some Actions</span>
                                  </p>
                              </a>
                              
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <div *ngFor="let status of countStatus"> 
                                  <a class="dropdown-item" > {{status.name}} Incidents<span class="notification">{{status.count}}</span></a>
                                  
                              </div>
                              </div>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link"   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">person</i>
                                  <p>
                                      <span class="d-lg-none d-md-block">Account</span>
                                  </p>
                              </a>
                              
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            
                            <div class="user">
                                
                                <div class="d-flex">
                                    <div>
                                            <img class="userImage" *ngIf="picUrl" src="{{picUrl}}" />
                                            <img *ngIf="!picUrl" class="userImage" src="/assets/img/avatar.jpg"  />
                                    </div>
                                    <!-- <i class="material-icons">create</i> -->

                                    <div style="padding: 28px;font-size: 14px;"> 
                                        <div style="font-weight: 700;font-size: 14px; margin-top:-5px;" >{{userType}}</div>

                                        <div style="font-weight: 700"><b>{{name}}</b></div>
                                        
                                        <!-- <div style="font-weight: 300"><b>{{username}}</b></div> -->
                                        <div *ngIf=" email !=='null'"> {{email}} </div>
                                       
                                        <div *ngIf=" contactNo !=='null'"> {{contactNo}} </div>
                                    </div>
                                </div>
                                <div>
                                    
                                        <button style="float: left; margin:20px;" (click)= "accountSetting()" class="btn btn-primary btn-sm btn-round">
                                                <i class="material-icons">settings</i> Account
                                              </button>
                                              
                                              <button style="float: right;margin: 20px;" (click)="logout()" class="btn btn-primary btn-sm btn-round">
                                                    <i class="material-icons"> power_settings_new</i> Logout
                                                  </button>
                                    </div>
                                
                        </div>
                              </div>
                            
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
          <!-- End Navbar -->