// .container{
//     width: 100%;
//     margin-top: 10px;
   
// }
@import "src/assets/components.scss";

// .fontSize{
//     font-size: 16px;
// text-align: center;
// }


// ul {
//     list-style-type: none;
    
//     overflow: hidden;
//     // background-color: #333;
// }
// ul {
    
//     width: 100%;
// }
// li {
//     float: left;
// }

// li a {
//     display: block;
//     color: black;
//     text-align: center;
//     padding: 14px 30px;
//         text-decoration: none;
// }


// .active {
//     background-color: #ffffff;
// }

// mat-chip {
//     max-width: 70px;
//   }

    .search-results {
        height: auto;
        overflow: scroll;
    }
   

    // @import "../../../../assets/components.scss";
.action-buttons{
    i{
        position: relative;
        z-index:2;
        &:before{
            position:absolute;
            content:'';
            transform-origin: center;
            width:0px;
            height:0px;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            border-radius:50%;
            background:rgba(0,0,0,0.1);
            transition: 0.1s;
        }
        &:hover{
            color:$primary;
            cursor: pointer;
            &:before{
               width:35px;
                height:35px;
                z-index:1;
            }
        }

    }
}

.new{
    background:#f1c40f;
}
.not-fixed{
    background:$danger;
}
.fixed{
    background:$success;
}
.scheduled{
    background:#03a9f4;
}
.assigned{
    background:#3f51b5;
}

.rotate{
    transform: rotate(180deg);
    transition:0.5s ease-in-out;
}
.re-open{
    background:#9c27b0;
}

tr{
    &:hover{
        cursor: pointer;
        .collapse-icon{
            color:$primary;
        }
    }
}

.incident-details{
    .product-image{
        width: inherit;
    }
    .btn{
        background:white;
    }
}

.assign-form{
    .material-icons{
        color:$success;
    }
}

.incident-detail-box{
    transition:0.2s ease-in box-shadow;
    &:hover{
        background:white;
        box-shadow:0 10px 10px rgba(0,0,0,0.1);
    }
}