<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete your profile</p>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" #addUserForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input type="text" matInput required minlength="3" [(ngModel)]="managerDetails.name" 
                      name="name" placeholder="Name"
                        #name="ngModel">
                      <mat-error *ngIf="name.invalid">Enter Your Name</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" [(ngModel)]="managerDetails.nickName" 
                      name="nick" placeholder="Nick Name"
                        #nick="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input type="text" matInput required minlength="4" [(ngModel)]="managerDetails.username"
                       name="username" placeholder="User Name"
                        #username="ngModel">
                      <mat-error *ngIf="username.invalid">Minimum 4 digite User Name is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput type="password" required minlength="6" [(ngModel)]="managerDetails.password"
                       name="password" placeholder="Password"
                        #password="ngModel">
                      <mat-error *ngIf="password.invalid">Minimum 6 digite User Name is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput type="number" required minlength="4" [(ngModel)]="managerDetails.contactNo" 
                          name="contact" placeholder="Phone No"
                            #contact="ngModel">
                          <mat-error *ngIf="contact.invalid">Enter Your 10 Digite Phone No</mat-error>
                        </mat-form-field>
                      </div>
                  
                
                 
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-select placeholder="Brand Id" required   [(ngModel)]="managerDetails.brandId" #brandId="ngModel" name="brandId">
                            <mat-option *ngFor="let brand of brands" [value]="brand.id">
                              {{brand.name}}
                            </mat-option>
                          </mat-select>
                      <mat-error *ngIf="brandId.invalid">Select Brand Id</mat-error>
                    </mat-form-field>
                  </div>
                </div>
               
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Submit</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>