


@import "src/assets/components.scss";


.search-results {
    height: auto;
    overflow: scroll;
}


.action-buttons{
i{
    position: relative;
    z-index:2;
    &:before{
        position:absolute;
        content:'';
        transform-origin: center;
        width:0px;
        height:0px;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        border-radius:50%;
        background:rgba(0,0,0,0.1);
        transition: 0.1s;
    }
    &:hover{
        color:$primary;
        cursor: pointer;
        &:before{
           width:35px;
            height:35px;
            z-index:1;
        }
    }

}
}

.new{
background:#f1c40f;
}
.not-fixed{
background:$danger;
}
.fixed{
background:$success;
}
.scheduled{
background:#03a9f4;
}
.assigned{
background:#3f51b5;
}

.rotate{
transform: rotate(180deg);
transition:0.5s ease-in-out;
}
.re-open{
background:#9c27b0;
}

tr{
&:hover{
    cursor: pointer;
    .collapse-icon{
        color:$primary;
    }
}
}

.incident-details{
.product-image{
    width: inherit;
}
.btn{
    background:white;
}
}

.assign-form{
.material-icons{
    color:$success;
}
}

.incident-detail-box{
transition:0.2s ease-in box-shadow;
&:hover{
    background:white;
    box-shadow:0 10px 10px rgba(0,0,0,0.1);
}
.alertred{
    color: red;
}
}
.selectHieght{
    height: 61px;
}
