<div class="card">
  <div class="card-header card-header-primary">
    <div class="d-flex justify-content-between">
      <h4 class="card-title ">Service Engineer</h4>
      <div class="dropdown">
        <a class="nav-link ">
          <!-- <i class="material-icons" data-toggle="modal" data-target="#EngineerFormModal"> add_to_photos</i> -->
          <button class="btn btn-primary " data-toggle="modal" data-target="#EngineerFormModal"><i class="material-icons"   style="font-size: 30px;">
            person_add
            </i></button>
        </a>

      </div>
      

    </div>

  </div>



  <div class="card-body">
    <div class="table-responsive" id="coll">
      <table class="table table-hover">
        <thead class=" text-primary">
          <th *ngFor="let head of headerRow">
            {{head}}
          </th>
        </thead>
        <tbody *ngFor="let row of dataRows let i =index">
          <tr>
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">
              <b>{{i+1}}</b>
            </td>
            <!-- <td data-toggle="collapse"  (click)="getId( row)"attr.href="#collapseExample{{i}}" >
                            <img src="{{row.picUrl}}"> // src="/src/assets/img/avatar.jpg"
                        </td> -->
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">

              <img *ngIf="row.picUrl" style="width: 45px;height: 45px;border-radius: 25px;" src="{{row.picUrl}}">
              &nbsp;
              <i *ngIf="!row.picUrl" style="width: 45px;height: 45px;border-radius: 25px;" class="material-icons mainColor">person</i>
              {{row.name}}



            </td>
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">{{row.username}}</td>
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">{{row.email}}</td>
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">{{row.contactNo}}</td>
            <td data-toggle="collapse" (click)="getId( row)" attr.href="#collapseExample{{i}}">{{row.specialist}}</td>

            <!-- <td>
             

              <i (click)="getId(row.id)" data-toggle="modal" data-target="#deleteModal" class="material-icons">delete_forever</i>
             
              
            </td> -->
            <td class="change-icon">
                            
              <i (click)="getId(row.id)" data-toggle="modal" data-target="#deleteModal" class="material-icons mainColor deleteIcon">delete</i>
              
              <i (click)="getId(row.id)" data-toggle="modal" data-target="#deleteModal" class="material-icons mainColor deleteChange-icon">delete_forever</i>

          </td>
          </tr>
          <tr class="collapse" attr.id="collapseExample{{i}}">
            <td colspan=7 class=" incident-details">
              <!-- <div class="row"> -->
                <!-- <div class="col-md-4">
                  <h5>
                    <b> {{row.addressType }} Address:</b>
                    {{row.address}} ,
                    <br> {{row.city}} , {{row.state}} ,
                    <br> {{row.country}}, , {{row.postalCode}}
                  </h5>

                </div> -->
                <div class="card card-nav-tabs detail-box " style="width: 70%; margin: auto; margin-top: 45px; ">
                    <div>
                        <div class="card-header card-header-info float-right" style="width:150px;">
                         Address
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding:15px;">
                           <div><i class="fa fa-home details-icon" aria-hidden="true" style="font-size: 24px;"></i><b>{{row.addressType }} Address</b></div>
                            
                               
                               <div style="margin-left: 28px;">{{row.address}} </div>
                                <div style="margin-left: 28px;"> {{row.city}} , {{row.state}}</div>
                                <div style="margin-left: 28px;"> {{row.country}}, , {{row.postalCode}}</div>
                          
            
                        </div>
                      </div>
                  </div>
                
                <div class="col-md-8">
                  <b>Assign Pincodes</b>

                  <span *ngIf="!editPinShow" (click)="showEditPin()" class="badge badge-pill badge-primary">Edit</span>
                  <div class="row">
                    <div class="col-md-6">
                      <ul *ngFor="let pin of assignpincode">
                        <li class="badge badge-pill badge-primary">
                          {{pin}}
                          <i *ngIf="editPinShow" (click)="removePincode(pin)" class="material-icons">
                            remove_circle
                          </i>
                        </li>

                      </ul>
                    </div>
                    <div class="col-md-6" *ngIf="editPinShow">
                      <ul *ngFor="let pin of editpins">
                        <li class="badge badge-pill badge-primary">{{pin}}
                          <i (click)="addPin(pin)" class="material-icons">
                            add
                          </i>
                        </li>
                      </ul>
                    </div>

                    <div *ngIf="editPinShow">
                      <button type="button" (click)="canclePinchanges(row)" class="badge badge-pill badge-secondary">Cancle</button>
                      <button *ngIf="!changeSuccessfuly" type="submit" (click)="changePincode()" class="badge badge-pill badge-success">Save
                        Changes</button>
                      <button *ngIf="changeSuccessfuly " type="button" class="badge badge-pill badge-primary">
                        <i class="fa fa-spinner fa-spin"></i>submitting</button>
                    </div>

                  </div>
                </div>
             
              <!-- <div class="card card-nav-tabs detail-box " style="width: 75%; ">
                  <div>
                      <div class="card-header card-header-info float-right" style="width:150px;">
                     Assign Pincodes
                      </div>
                      
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="padding:15px;">
                          <span *ngIf="!editPinShow" (click)="showEditPin()" class="badge badge-pill badge-primary">Edit</span>
                          <div class="row">
                              <div class="col-md-6 assignPin" *ngFor="let pin of assignpincode">
                               
                                  <span class="badge badge-pill badge-primary editPin ">
                                    {{pin}}</span>
                                    <span class="removePin" ><i *ngIf="editPinShow" (click)="removePincode(pin)" class="material-icons successColor">
                                      remove_circle
                                    </i></span>
                                  
          
                                
                              </div>
                              <div class="col-md-6 " *ngIf="editPinShow">
                                <div class="assignPin" *ngFor="let pin of editpins">
                                  <span class="badge badge-pill badge-primary">{{pin}}
                                    <i (click)="addPin(pin)" class="material-icons">
                                      add
                                    </i>
                                  </span>
                                </div>
                              </div>
          
                              <div *ngIf="editPinShow">
                                <button type="button" (click)="canclePinchanges(row)" class="badge badge-pill badge-secondary">Cancle</button>
                                <button *ngIf="!changeSuccessfuly" type="submit" (click)="changePincode()" class="badge badge-pill badge-success">Save
                                  Changes</button>
                                <button *ngIf="changeSuccessfuly " type="button" class="badge badge-pill badge-primary">
                                  <i class="fa fa-spinner fa-spin"></i>submitting</button>
                              </div>
          
                            </div>
                      </div>
                      </div>
                    </div>
                 -->
              <div class="row">

                <div class="col-md-6">
                  <b>Assign Product Category</b> &nbsp;
                  <span (click)="editProductCategory()" class="badge badge-pill badge-primary">Edit</span>
                  <ul style="list-style-type:none" *ngFor="let type of row.productTypes let i = index">
                    <li>
                      {{i+1}} . {{type.productCategoryName}} <i class="material-icons">
                        remove_circle
                      </i>
                    </li>
                  </ul>

                </div>
                <div class="col-md-6">

                </div>
              </div>


            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9" style="font-size: 70px; text-align: center;">
              <i *ngIf="isDataLoad" class="fa fa-spinner fa-spin mainColor"></i>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>



  <!-- Service engineer form -->

  <div class="modal fade bd-example-modal-lg" id="EngineerFormModal" tabindex="-1" role="dialog" aria-labelledby="EngineerFormModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content   card ">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons"> person_add
            </i>
          </div>
          <h3 class="card-title">ADD SERVICE ENGINEER</h3>
        </div>
        <div class="modal-body">
                        
          <!-- <new-code> -->
          <form (ngSubmit)="onSubmit()" #managerForm="ngForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating" for="name"> Name <span style="color: red;">*</span>

                  </label>
                  <input type="text" required minlength="4" class="form-control " [(ngModel)]="engineerDetails.name"
                    name="name" id="name" #name="ngModel" placeholder="Name">
                  <small [hidden]="name.valid || name.untouched" style="color: red">
                    Name is required
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Username <span style="color: red;">*</span>
                  </label>
                  <input type="text" minlength="4" maxlength="20" required [(ngModel)]="engineerDetails.username" name="username"
                    id="username" class="form-control " #username="ngModel" placeholder="Username">

                  <small [hidden]="username.valid || username.untouched" style="color: red">
                    Username should consist of minimum 6 characters
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contact No <span style="color: red;">*</span>
                  </label>
                  <input type="number" placeholder="Contact" required pattern=".{10,11}" class="form-control "
                    [(ngModel)]="engineerDetails.contactNo" name="contactNo" id="contactNo" #contactNo="ngModel">
                  <small [hidden]="contactNo.valid || contactNo.untouched" style="color: red">
                    Contact No is required
                  </small>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Email Id<span style="color: red;">*</span>
                  </label>
                  <input type="email" required [(ngModel)]="engineerDetails.email" name="email" id="email" class="form-control "
                    #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">

                  <small [hidden]="email.valid || email.untouched" style="color: red">
                    Email Id is required
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Profile Picture
                  </label>
                  <input type="file" (change)="onSelectFile($event)" name="pic" id="pic" class="form-control ">
                  <!-- <input type="file" (change)="onSelectFile($event)" name="pic" id="pic" class="form-control "> -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Specialization<span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control  " [(ngModel)]="engineerDetails.specialist" name="specialist"
                    id="specialist" #specialist="ngModel">
                  <small [hidden]="specialist.valid || specialist.untouched" style="color: red">
                    Specialization is required
                  </small>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Password <span style="color: red;">*</span></label>
                  <input type="password" required minlength="6" class="form-control  " [(ngModel)]="engineerDetails.password"
                    name="password" id="password" #password="ngModel" placeholder="Password">
                  <small [hidden]="password.valid || password.untouched" style="color: red">
                    Password should consist of minimum 6 characters
                  </small>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label> Select Product Types <span style="color: red;">*</span>
                  </label>
                  <button *ngIf="pinIstrue" type="button" class="buttonload">
                    <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  <select class="form-control selectHieght" id="prodTypeOptions" required multiple [(ngModel)]="engineerDetails.productTypeIds"
                    name="prodType" #prodType="ngModel">
                    <option *ngFor="let product of prodTypeOptions" [value]="product.id">{{product.name}}</option>
                  </select>
                  <small [hidden]="prodType.valid || prodType.untouched" style="color: red">
                    Product Type options is required
                  </small>

                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Select Pin Codes <span style="color: red;">*</span>
                  </label>
                  <button *ngIf="pinIstrue" type="button" class="buttonload">
                    <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  <select class="form-control selectHieght" required multiple [(ngModel)]="engineerDetails.pincodes"
                    name="pincode" #pincode="ngModel">
                    <option *ngFor="let pin of pins" [value]="pin.pincode">{{pin.pincode}}</option>
                  </select>
                  <small [hidden]="pincode.valid || pincode.untouched" style="color: red">
                    Pincode is required
                  </small>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Address Line <span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control " placeholder="Address Line" [(ngModel)]="engineerDetails.address.address"
                    name="addres" #addres="ngModel">
                  <small [hidden]="addres.valid || addres.untouched" style="color: red;">
                    Address Line is required
                  </small>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label> City <span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control " placeholder="City" [(ngModel)]="engineerDetails.address.city"
                    name="city" id="city" #city="ngModel">
                  <small [hidden]="city.valid || city.untouched" style="color: red">
                    City is required
                  </small>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> State <span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control " placeholder="State" [(ngModel)]="engineerDetails.address.state"
                    name="state" id="state" #state="ngModel">
                  <small [hidden]="state.valid || state.untouched" style="color: red">
                    State Name is required
                  </small>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Country <span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control " placeholder="Country" [(ngModel)]="engineerDetails.address.country"
                    name="country" id="country" #country="ngModel">
                  <small [hidden]="country.valid || country.untouched" style="color: red">
                    Country Name is required
                  </small>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group">
                  <label>Postel Code <span style="color: red;">*</span>
                  </label>
                  <input type="text" required class="form-control " placeholder="Postal Code" [(ngModel)]="engineerDetails.address.postalCode"
                    name="postalcode" id="postalcode" #postalcode="ngModel">
                  <small [hidden]="postalcode.valid || postalcode.untouched" style="color: red">
                    Postal code is required
                  </small>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Select Address Type <span style="color: red;">*</span>
                  </label>
                  <select class="form-control" required [(ngModel)]="engineerDetails.address.addressType" name="addressType"
                    #addressType="ngModel" style="height: px;">
                    <option *ngFor="let addr of addressTypeOptions" [value]="addr">{{addr}}</option>
                  </select>
                  <small [hidden]="addressType.valid || addressType.untouched" style="color: red">
                    Address type is required
                  </small>
                </div>

              </div>
            </div>
          </form>

          <!--footer-->
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" [disabled]="!managerForm.valid" class="btn btn-success">Submit</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Service Engineer form end -->

    <!-- delete modal for  service engineer -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content   card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">delete_outline
              </i>
            </div>
            <h3 class="card-title">Delete</h3>
          </div>
          <div class="modal-body">
            <h3>"Are you sure you want to delete this Service Engineer?",
            </h3>
            <div class="modal-footer">

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
              <button type="submit" (click)="deleteEngineer()" class="btn btn-success">Delete</button>

            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- delete modal end here -->
