


@import "src/assets/components.scss";


.search-results {
    height: auto;
    overflow: scroll;
}
.loadingPage {
    font-size: 100px; 
    padding-top: 150px;
    color: #851aa1;
    text-align: center;
}

.action-buttons{
i{
    position: relative;
    z-index:2;
    &:before{
        position:absolute;
        content:'';
        transform-origin: center;
        width:0px;
        height:0px;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        border-radius:50%;
        background:rgba(0,0,0,0.1);
        transition: 0.1s;
    }
    &:hover{
        color:$primary;
        cursor: pointer;
        &:before{
           width:35px;
            height:35px;
            z-index:1;
        }
    }

}
}

.new{
background:#f1c40f;
}
.not-fixed{
background:$danger;
}
.fixed{
background:$success;
}
.scheduled{
background:#03a9f4;
}
.assigned{
background:#3f51b5;
}

.rotate{
transform: rotate(180deg);
transition:0.5s ease-in-out;
}
.re-open{
background:#9c27b0;
}

tr{
&:hover{
    cursor: pointer;
    .collapse-icon{
        color:$primary;
    }
}
}

.incident-details{
.product-image{
    width: inherit;
}
.btn{
    background:white;
}
}

.assign-form{
.material-icons{
    color:$success;
}
}

.incident-detail-box{
transition:0.2s ease-in box-shadow;
&:hover{
    background:white;
    box-shadow:0 10px 10px rgba(0,0,0,0.1);
}
.alertred{
    color: red;
}
}
.selectHieght{
    height: 61px;
}


ul#menu li {
    display:inline;
}
.assignPin{
    display: flex;
    position: relative;
    .editPin{
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .removePin{
        left: 37px;
    position: absolute;
    top: -12px;
    
    }

}
.margin-top{
    margin-top: 30px!important;
}
.iconPosition{
color: #e8e8e8;
 position: absolute;
top: -10px;
background: gray;
    border-radius: 50%;
    border: 1px solid gray;
}

.editBtn{
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0;
    height: 25px;
    margin-top: 18px;
}
.activePin{
    font-weight: 500;
    color: gray;
    padding-left: 57px;
}
.InactivePin{
    font-weight: 500;
    color: gray;
    padding-right: 90px;  
}
.product-image{
    width: 96px;
}
.bounce {
   
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-30px);
    }
    60% {
      transform: translateX(-15px);
    }
  }
@media only screen and  (max-width:1125px){
    .InactivePin{
    padding-right: 47px;  
    }
}
