<div class="row">
    <div class="col-md-6">
      <h1>Login </h1>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="userName">User Name:</label>
          <br>
          <input type="text" required class="form-control" id="userName" name="userName" [(ngModel)]="user.name"  #userName="ngModel">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <br>
          <!-- <input type="password" class="form-control" id="pwd" name="passowrd" > -->
          <input type="password" required class="form-control" [(ngModel)]="user.password" id="pwd" name="password" #password="ngModel">
        </div>
        <div class="form-group">
            <label for="user">User Type:</label>
            <br>
          <select required class="custom-select"   [(ngModel)]="user.userType" name="userType" #userType="ngModel">
            <option *ngFor="let type of userTypes" [value]="type"> {{type}} </option>
           
           </select>
        </div>
        <button  *ngIf="!submitButton" type="submit" [disabled]="!loginForm.form.valid" class="btn btn-default" >Login</button>
     <button *ngIf="submitButton" type="button"  class="btn btn-default"> <i class="fa fa-spinner fa-spin"></i>submitting</button>
      </form>
    </div>
  </div>