<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
      <a href="#" class="simple-text logo-normal">
          Suvidha Admin Panel
      </a>
  </div>
  <div class="sidebar-wrapper">
      <ul class="nav">
         
        
        <!-- <li class="nav-item" *ngFor="let page of list"> -->
              <!-- <a class="nav-link" [routerLink]="page.route">
                  <i class="material-icons">{{ page.icon }}</i>
                  <p>{{ page.name }}</p>
              </a> -->
          <!-- </li> -->




          <!-- <li class="nav-item ">
              <a class="nav-link" href="#">
                  <i class="material-icons">person</i>
                  <p>User Profile</p>
              </a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="#">
                  <i class="material-icons">notifications</i>
                  <p>Notifications</p>
              </a>
          </li>-->
          <li class="nav-item ">
                <a class="nav-link" >
                    <i class="material-icons">content_paste</i>
                    <p>Logout</p>
                </a>
            </li>
          <li class="nav-item active-pro">
              <a class="nav-link" href="#">
                  <i class="material-icons">public</i>
                  <p>Suvidha</p>
              </a>
          </li> 
      </ul>
  </div>
</div>