<div class="card  card-plain" style="margin-top: 0px;">
  <div class="card-header card-header-primary" style="margin-bottom:20px; ">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper space-between">
        <div class="addBar">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item hover-cursor">
              <a class="nav-link active show " (click)="dashboardFilterByDate('today')" data-toggle="tab">Today</a>
            </li>
            <li class="nav-item hover-cursor">
              <a class="nav-link " (click)="dashboardFilterByDate('week')" data-toggle="tab">This Week</a>
            </li>
            <li class="nav-item hover-cursor">
              <a class="nav-link" (click)="dashboardFilterByDate('month')" data-toggle="tab"> This month</a>

            </li>
            <li class="nav-item hover-cursor">
              <a class="nav-link" (click)="dashboardFilterByDate('year')" data-toggle="tab">This year</a>
            </li>
            <li class="nav-item hover-cursor">
              <a class="nav-link" (click)="dashboardFilterByRange()" data-toggle="tab">Range</a>
            </li>
            
            <li class="nav-item hover-cursor " *ngIf="showRange">
                <div class="input-group input-daterange">
                 
                  <input type="date" class="form-control"  min="1899-01-01" max="{{ today | date: 'y-MM-dd'}}"
                    required name="startDate" id="startDate" [(ngModel)]="dateRange.startDate" #startDate="ngModel" style="color: white;width: 142px;">
                  <p class="input-group-addon " style="margin:10px; ">To</p>
                  <input type="date" class="form-control" [disabled]="!dateRange.startDate" 
                    min="{{dateRange.startDate}}" max="{{ today | date: 'y-MM-dd'}}" required name="endDate" id="endDate"
                    [(ngModel)]="dateRange.endDate" #userName="ngModel" style="color: white;width: 142px;">
                  
                     <button  (click)="filterByRange('byRange')" class="btn btn-primary btn-sm chkBtn" [disabled]="!dateRange.endDate">
                    <i  class="material-icons hover-cursor">
                      check_circle
                    </i>
                    </button>
                 
                </div>
                
                
              </li> 
             
          </ul>
          
        </div>
        <div>
          <ul class="nav " data-tabs="tabs" style="font-weight: 500; width: 190px;">
            <li class="nav-item hover-cursor ">

              <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <div class="nav-link active  dropdown-toggle " [class.active]="categoryName !='ALL APPLIANCES'">{{categoryName}}</div>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="forAllProduct('ALL APPLIANCES')" class="dropdown-item  hoverColor">All Appliances</a>
                <a *ngFor="let Category of productCategoryName" (click)="filterByProduct(Category)" class="dropdown-item  hoverColor">{{Category.name}}</a>


              </div>
            </li>

          </ul>
        </div>


      </div>
    </div>
  </div>


  <div class="container-fluid" style="z-index: 0;">
    <div *ngIf="role=='management'" class="row">

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card card-stats padding">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon" >
              <div id="CarryForward_Chart">

             </div>
              <!-- <i class="material-icons">store</i> -->
            </div>
            <p class="card-category">Carry Forward</p>
            <h3 class="card-title">{{statusCarryForward}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card card-stats padding">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">

              <div id="New_Chart">
            </div>
              <!-- <i class="material-icons">
                new_releases
              </i> -->
            </div>
            <p class="card-category">New</p>
            <h3 class="card-title">{{statusNew}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card card-stats padding">
          <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">

            <div id="Fixed_Chart">
              <!-- <i class="material-icons">
                assignment_turned_in
              </i> -->
              </div>
            </div>
            <p class="card-category">Fixed</p>
            <h3 class="card-title">{{statusFixed}}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card card-stats padding">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">

              <div id="Rejected_Chart">
                <!-- <i class="material-icons">
                  new_releases
                </i> -->
</div>              </div>
              <p class="card-category">Rejected</p>
              <h3 class="card-title">{{statusRejected}}</h3>
            </div>
          </div>
        </div>
        

      <!-- Chart Cards -->
      <div class="row">

        <ng-container *ngIf="role=='management'">
          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary">

                <div id="Rating_Chart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title"> Feedback </h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="card ">
              <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-md-6">
                  
                        <div   id="out_Warranty_Status"></div>
                      </div>
                      <div class="col-md-6">
                        <div  id="in_Warranty_Status"></div>
      
                      </div>
                </div>

              </div>
              <div class="card-body">
                <h4 class="card-title">Open Incidents</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary">
                <div id="Product_Incident_Age"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title"> Open Incidents Age (In Days)</h4>
              </div>

            </div>
          </div>


          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary">
                <div id="product_status_Chart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Incidents </h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary">
                <div id="regions_chart"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title"> Open Incidents</h4>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary">
                <div id="time_to_repair"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title"> Time To Repair</h4>
              </div>
            </div>
          </div>




          <div class="col-md-6 col-sm-12">
            <div class="card card-chart">
              <div class="card-header card-header-primary" >
                <div id="repair_time"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title">Mean Time To Repair (in days)</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="card card-chart">
              <div id="graph_status"></div>
            </div>
          </div>
        </ng-container>

      </div>
      <!-- end of chart cards -->
    </div>
  </div>

</div>