// feedback chart
.card-chart{
    // height:100%;
}
.feedback-chart{
    display:flex;
    justify-content:space-around;
    .card-title{
        position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
    text-align:center;
    width:100%;
    h3{
        // font-weight:400;
        margin:0px;
    }
    }
  }
/* Smiley */

.smiley
{
  margin-top: 80PX;
  background: linear-gradient(135deg, #ffe919 0%, #fbc000 100%);
  border-radius: 100%;
  padding: 1px;
  position: relative;
  width: 75px;
  height: 75px;
  left: 50%;
  top: 50%;
  // margin-top: 88PX;
  // background: linear-gradient(135deg, rgb(255, 233, 25) 0%, rgb(251, 192, 0) 100%);
  // border-radius: 100%;
  // padding: 25px;
  // position: relative;
  // width: 150px;
  // height: 150px;
  // left: 50%;
  // top: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 121px));
  box-shadow: rgba(0, 0, 0, 0.09) 0px 30px 30px 1px, #0000001a 0px 20px 10px 1px;
}


.mouth
{
  width: 60%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -30%;
  background: #B57700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


.eyes
{
  width: 100%;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 0 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye
{
  width: 20px;
  height: 20px;
  background: #B57700;
  float: left;
  border-radius: 100%;
  position: relative;
}

.eyes .eye:nth-of-type(2)
{
  float: right;
}

.eyes .eye::after
{
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  background: #fed800;
  transform: rotate(0deg);
  top: -15px;
  left: 5px;
  transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye:first-of-type::after
{
  transform: rotate(0deg);
  left: auto;
  right: 5px;
}

/* Normal animation */
.smiley.normal .mouth,
#normal[type=radio]:checked ~ .smiley .mouth
{
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  width: 40%;
  bottom: 25%;
  margin-left: -20%;
}

.smiley.normal .eyes,
#normal[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 30%
}

/* angry animation */
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .mouth
{
  width: 40%;
  height: 20%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 18%;
  left: 50%;
  margin-left: -20%;
  border-bottom: 0;
}

.smiley.angry .eyes,
#angry[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 35%
}

.smiley.angry .eye::after,
#angry[type=radio]:checked ~ .smiley .eye::after
{
  width: 120%;
  height: 50%;
  transform: rotate(-35deg);
  top: -3px;
  left: -5px;
  border-radius: 0;
}

.smiley.angry .eye:first-of-type::after,
#angry[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
  transform: rotate(35deg);
  left: auto;
  right: -5px;
}

/* */

.smiley.happy .mouth,
#happy[type=radio]:checked ~ .smiley .mouth
{
  animation: infinite  move-mouth-down 3s ;
  animation-delay: 2s;
}


@keyframes move-mouth-down 
{
  0%
  { 
  bottom: 18%;
  }

 20%
  {
  bottom: 16%; 
  }

  40%
  {
    bottom: 16%; 
  }
  
  60% 
  { 
    bottom: 18%;
  }
  100%{

  }
}


.smiley.happy .eyes,
#happy[type=radio]:checked ~ .smiley .eyes
{
  animation: infinite  move-eyes-down 3s;
  animation-delay: 2s;
}


@keyframes move-eyes-down 
{
  0%
  { 
  margin-top: 15%;
  }

  20%
  {
  margin-top: 19%; 
  }

  40%
  {
  margin-top: 19%;
  }
  
60% 
  { 
  margin-top: 15%;
  }
  100%{

  }
}



.smiley.happy .eye:nth-of-type(2),
#happy[type=radio]:checked ~ .smiley .eye:nth-of-type(2)
{
  height: 20px;
  margin-top: 0;
  animation: infinite  wink 3s;
  animation-delay: 2s;
}


@keyframes wink 
{
  0%
  { 
   height: 20px;
    margin-top: 0; 
  }

  20%
  {
    height: 3px;
    margin-top: 8px; 
  }

  40%
  {
    height: 3px;
    margin-top: 8px; 
  }
  
  60% 
  { 
    height: 20px;
    margin-top: 0; 
  }
  100%{

  }
}



.smiley.normal .eye,
#normal[type=radio]:checked ~ .smiley .eye
{
  height: 20px;
  margin-top: 0;
  animation: infinite  blink 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 2s;
}


@keyframes blink 
{
  0%
  { 
    height: 20px;
    margin-top: 0; 
  }

  10%
  {
    height: 2px;
    margin-top: 8px; 
  }

  20% 
  { 
    height: 20px;
    margin-top: 0; 
  }

  30%
  {
    height: 2px;
    margin-top: 8px; 
  }

  40% 
  { 
    height: 20px;
    margin-top: 0; 
  }
  100%{

  }
}




.smiley.angry .eyes,
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .eyes,
#angry[type=radio]:checked ~ .smiley .mouth
{
  animation: infinite  move-angry-head 6s;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

@keyframes move-angry-head 
{
  0%
  { 
    transform: translateX(0%);
  }

  10%
  {
    transform: translateX(-20%);
  }

  20% 
  { 
    transform: translateX(15%);
  }

  30%
  {
    transform: translateX(-20%);
  }

  40% 
  { 
    transform: translateX(5%);
  }

  50%
  {
    transform: translateX(0%);
  }
  100%{

  }
}
