/* You can add global styles to this file, and also import other style files */
$light:white;
$primary:#de2768;
$success: #4caf50;
$main:#9c27b0;
.successColor{
    color: $success;
}
.lightColor{
    color: $light;
}
.mainColor{
    color: $main;
}
.primaryColor{
    color: $primary;
}
.secondaryColor{
    color: $success;
}
.iconSize{
    width: 25px;
}
.text-center{
    text-align: center;

}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.noContent-text{
    font-weight: 500;
    color: #4620ae;
    font-size: 18px;
  }
    
    .heading{
        margin-left: 20px;
        font-weight: 400;
        font-size: 25px;
    }
    .hover-cursor{
        cursor: pointer;
    }
    .auto-cursor{
        cursor: auto !important;
    }
    .text-center{
        text-align: center;
    }
    .description-heading{
        color: black;
    font-weight: 400;
    }
    .details-icon{
        margin-right: 6px;
        color: $main;
    }
    .text-captalize{
        text-transform: capitalize;
    }
    .change-icon > .deleteIcon + .deleteChange-icon,
.change-icon:hover > .deleteIcon{
  display: none;
}
.change-icon:hover > .deleteIcon + .deleteChange-icon {
  display: inherit;
}
.listHoverColor:active{
    background: #f06e6b !important;
  }
  .dropdown-item.active, .dropdown-item:active {
    background-color: $main !important;
   }
   .space-between{
       display: flex;
       justify-content: space-between;
   }
   .hoverColor:hover{
    color: white!important;
   }
   .scroll{
       max-height: 150px;
    //    padding-top: 20px;
       overflow-y: scroll;
   }
   .backgroundColor{
       background: $main!important;
   }
   .transparent{
       background: transparent!important;
   }
   .responsiveCard{
       width: 45%;
   }
   .text-right{
       text-align: right;
   }
   @media only screen and  (min-width:768px) and (max-width:1200px){
    .responsiveCard{
        width: 91%;
    }
    .detail-box{
        margin-left: 14px;
        margin-right: 18px;
    }
}
// .sidebar[data-color=rose] li.active>a{
//     background: $main!important;
// }
@media print {
    .sidebar{
        display: none !important;
    }
   }