/* You can add global styles to this file, and also import other style files */
$light:white;
$primary:#de2768;
$success: #4caf50;

.lightColor{
    color: $light;
}
.primaryColor{
    color: $primary;
}
.secondaryColor{
    color: $success;
}
.iconSize{
    width: 25px;
}
.text-center{
    text-align: center;

}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}